*{
    margin: 0;
}

.contenedor{
    background: #ea899a;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
}



h1{
    font-size: 900;
    font-weight: 2em;
    color: #000000;
    padding: 2%;
}

.programa__image-container {
    width: 100%;
    max-width: 512px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0.5rem 0.5rem 0 black;
    display:block;
    margin:auto;
  }
  
.programa__image {
    width: 100%;
  }

button{
    background-color: #16f8b8;
    font-size: 20px;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}